.product {
    margin-bottom: 1rem;
    margin-bottom: 1rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 50%;

    position: relative;

    overflow: hidden;

    background-color: var(--white);

    box-shadow: 10px 10px 30px var(--preto-transparente);

    box-sizing: border-box;

    min-height: 12.5rem;
}

.product__image {
    position: absolute;
    top: 50%;
    left: -8rem;

    transform: translateY(-50%); /* Queremos que o meio da imagem fique no meio do cartão*/

    z-index: 1; /* Garantira que a imagem fique atrás do conteudo (texto)*/

    width: 18.75rem;
}

.product__content {
    position: relative;
    z-index: 2;
}

.product__title {
    margin-top: 0;
    margin-bottom: .5rem;
}

.product__price {
    margin-bottom: 1.5rem;
}

.product-buy {
    color: var(--yellow);

    display: flex;

    align-items: center;
}

.product__buy--icon {
    display: inline-block;
    
    width: .875rem;
    height: .875rem;

    margin-left: 1.75rem;

    background-image: url(../../img/icons/seta.svg);
    background-size: contain;
}