:root {
    --yellow: #FFCB47;
    --yellow-shadow: #FFCB473D;
    --white: #FFFFFF;
    --black: #202020;
    --preto-transparente:#0000000F;

    --font-body: "Montserrat", sans-serif;
    --font-body-size: 1rem;

    --button-weight: 700;


    --font-title: 'Elsie Swash Caps', sans-serif;
    --font-title-weight: 900;
    --font-title-size: 1.375rem;
    --font-title-destaque-size: 2rem;

    --destaque-weight: 700;
    --destaque-size: 1.375rem;
}