.titulo-principal {
  padding-left: 20px;
}

section {
  text-align: center;
  background-color: #ffffff;
}

#banner {
  width: 100%;
}

.about-us {
  background-color: #d3d3d3;
  padding: 30px;
}

#missao {
  color: #ff5733;
  font-size: 1.25rem;
}

.our-services {
  padding: 20px;
}

.itens-our-differentials {
  font-style: italic;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

#image-benefits {
  width: 50%;
}
